body {
    padding: 0;
    margin: 0;
    max-height: -moz-available;
    max-height: -webkit-fill-available;
    max-height: fill-available;
}

.red {
    width: 100vw;
    height: 95vh;
    max-height: -moz-available;
    max-height: -webkit-fill-available;
    max-height: fill-available;
    background: url(./picture.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    /* box-shadow: 0 0 25px rgba(84, 169, 237, 0.8); */
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
    color: aliceblue;
    font-family: monospace;
    position: relative;
    margin: 0;
}

.bubble {
    width: 50px;
    height: 50px;
    background: url(./fon.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 25px rgba(184, 223, 252, 0.5);
    border-radius: 50px;
    position: absolute;
    animation: 5s 1 grow;
}

@keyframes grow {
    0% {
        transform: scale(0.5, 0.5);
        transform: (0.5, 0.5);
    }
    100% {
        transform: scale(1, 1);
        transform: (1, 1);
    }
}

button {
    position: absolute;
    top: 5%;
    left: 5%;
    border: none;
    background: url(./fon.png);
    /* background-size: contain; */
    box-shadow: 0 0 20px rgba(105, 171, 223, 0.5),
        0 0 25px rgba(255, 255, 255, 1);
    border-radius: 50px;
    width: 70px;
    height: 50px;
    font-size: 20px;
}

.mute {
    display: none;
}

button:active {
    /* border: 1px solid rgba(105, 171, 223, 0.2); */
}

.score {
    font-size: 25px;
    margin: 0 auto;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
    position: absolute;
    top: 5%;
    right: 5%;
    margin: 0;
    width: 70px;
    height: 50px;
    background: url(./fon.png);
    box-shadow: 0 0 20px rgba(105, 171, 223, 0.5),
        0 0 25px rgba(255, 255, 255, 1);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin-top: 15px;
    font-family: 'The Nautigal', cursive;
    font-size: 80px;
    font-weight: 700;
}

.volume img {
    width: 30px;
}
.mute img {
    width: 29px;
}
